#header {
    height: 4em;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-content: center;
    padding: auto 2em;
    background: #111827;
    color: #fff;
    border: none;
    border-bottom: 1px solid #334359;
}