<div class="header__logo">
    <p style="
    flex: 0 0 auto;
    ">Дашборд</p>
</div>
<form class="header__search" style="
flex: 1;
display: flex;
align-items: center;
gap: 0.8em;
max-width: 500px;
margin: 0 20px;
">
    <input style="
    height: 1.8em;
    width: 15em;
    font-size: 1.1em;
    padding: 0.2em 0.8em;
    border: 1px solid #1F2937;
    border-radius: 0.8em;
    background-color: #0B0F1A;
    color: whitesmoke;
    " type="text" placeholder="Поиск..." />
</form>
<div class="header__actions">
    <button class="header__btn">
        <img src="images/vector-53.svg" alt="notifications" />
    </button>
    <button class="header__btn">
        <img src="images/vector-55.svg" alt="user" />
    </button>
</div>

<link rel="stylesheet" href="src/layouts/styles/header.css">