<div class="sidebar-logo" style="
    height: 4em;
    border: none;
    border-bottom: 1px solid #334359;
    margin: 0;
    padding: 0 1em;
    align-content: center;
    ">
    <p class="sidebar-title" style="
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 600;
    ">FlexiPay CRM</p>
</div>

<nav class="sidebar-menu" style="
    display: flex;
    flex-direction: column;
    ">
    <a href="#" class="sidebar__menu-item active">
        <img src="icons/dashboardW.svg" alt="icon" />
        <span>Дашборд</span>
    </a>
    <a href="#" class="sidebar__menu-item">
        <img src="icons/customersW.svg" alt="icon" />
        <span>Клиенты</span>
    </a>
    <a href="#" class="sidebar__menu-item">
        <img src="icons/contractW.svg" alt="icon" />
        <span>Договоры</span>
    </a>
    <a href="#" class="sidebar__menu-item">
        <img src="icons/productsW.svg" alt="icon" />
        <span>Товары</span>
    </a>
    <a href="#" class="sidebar__menu-item">
        <img src="icons/paymentsW.svg" alt="icon" />
        <span>Платежи</span>
    </a>
    <a href="#" class="sidebar__menu-item">
        <img src="icons/reportsW.svg" alt="icon" />
        <span>Отчёты</span>
    </a>
    <a href="#" class="sidebar__menu-item">
        <img src="icons/usersW.svg" alt="icon" />
        <span>Пользователи</span>
    </a>
    <a href="#" class="sidebar__menu-item">
        <img src="icons/settingsW.svg" alt="icon" />
        <span>Настройки</span>
    </a>
</nav>


<link rel="stylesheet" href="/styles/sidebar.css">